<div class="u-layout-row">
  <div class="u-align-left u-container-style u-layout-cell u-size-30 u-white u-layout-cell-1">
    <div class="u-container-layout u-container-layout-1">
      <h2 class="u-text u-text-grey-70 u-text-1">Tell Us A Bit More</h2>
    </div>
  </div>
  <div class="u-align-left u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2">
    <div class="u-container-layout u-valign-middle u-container-layout-2">
      <div class="u-expanded-width u-form u-form-1">
        <form [formGroup]="registerForm" (ngSubmit)="submitForm()"
        class="u-clearfix u-form-spacing-24 u-form-vertical u-inner-form" style="padding: 24px;" name="form">
          <input type="hidden" id="siteId" name="siteId" value="745822">
          <input type="hidden" id="pageId" name="pageId" value="749340">
          <div class="u-form-group u-form-name u-form-group-1">
            <div class="checkboxes">
              <p>Please share your musical tastes.</p>
              <label formArrayName="tastes" *ngFor="let o of tastesControls; let i = index">
                <input type="checkbox" [formControlName]="i">&nbsp;
                <span class="u-text-3">{{tastes[i]}}</span></label>
            </div>
            <!--div *ngIf="!registerForm.valid" style="color:red">At least one category must be selected.</div-->
          </div>
          <div class="u-form-group u-form-name u-form-group-1">
            <div class="checkboxes">
              <p>Do you work in the music industry? Tell us how.</p>
              <label formArrayName="mantles" *ngFor="let o of mantlesControls; let i = index">
                <input type="checkbox" [formControlName]="i">&nbsp;
                <span class="u-text-3">{{mantles[i]}}</span>
              </label>
            </div>
            <!--div *ngIf="!registerForm.valid" style="color:red">At least one category must be selected.</div-->
          </div>
          <div class="u-form-group u-form-name u-form-group-1">
            <div class="checkboxes">
              <p>What would you like to do inside Audioverse?</p>
              <label formArrayName="uses" *ngFor="let o of usesControls; let i = index">
                <input type="checkbox" [formControlName]="i">&nbsp;
                <span class="u-text-3">{{uses[i].label}}</span>
              </label>
            </div>
            <!--div *ngIf="!registerForm.valid" style="color:red">At least one category must be selected.</div-->
          </div>
          <div class="u-align-left u-form-group u-form-submit u-form-group-4">
            <input type="submit" value="submit" class="u-black u-btn u-btn-submit u-button-style u-hover-grey-60 u-btn-2">
            <sweeper-loading-indicator [loading]="loading"></sweeper-loading-indicator>
          </div>
          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </div>
</div>