<div class="u-clearfix u-gutter-18 u-layout-wrap u-layout-wrap-1">
  <div class="u-gutter-0 u-layout">
    <div class="u-layout-row">
      <ng-container *ngFor="let preview of previewIds;let i = index">
        <ng-container *ngSwitch="preview.type">
          <ng-container *ngSwitchCase="'ad'">
            <div class="u-align-left u-container-style u-layout-cell u-palette-1-base u-shape-rectangle u-size-15 u-size-30-md u-layout-cell-1">
              <sweeper-blue-box [bluebox]="ads[preview.idx]" (select)="selectAd.emit($event)"></sweeper-blue-box>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'room'">
            <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-15 u-size-30-md u-white u-layout-cell-3">
              <div class="u-container-layout u-container-layout-2">
                <sweeper-preview-room [preview]="rooms[preview.idx]" (select)="selectRoom.emit($event)"></sweeper-preview-room>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'survey'">
            <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-15 u-size-30-md u-white u-layout-cell-3">
              <div class="u-container-layout u-container-layout-2">
                <sweeper-preview-room [preview]="surveys[preview.idx]" (select)="selectSurvey.emit($event)"></sweeper-preview-room>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'forum'">
            <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-15 u-size-30-md u-white u-layout-cell-3">
              <div class="u-container-layout u-container-layout-2">
                <sweeper-preview-room [preview]="forums[preview.idx]" (select)="selectForum.emit($event)"></sweeper-preview-room>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>