<section class="u-align-center u-clearfix u-grey-10 u-section-8" id="carousel_3837">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h2 class="u-text u-text-default u-text-1">
      <font class="u-text-palette-1-base">Welcome back, <a routerLink="/me/acct">Jack</a></font>
    </h2>
    <sweeper-me-notifications-2></sweeper-me-notifications-2>
    <a routerLink="/me/dash"
      class="u-active-grey-90 u-btn u-btn-round u-button-style u-custom u-hover-grey-90 u-palette-1-base u-radius-8 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">
      go to my workspace</a>
    <sweeper-preview-list [rooms]="rooms" [ads]="ads"></sweeper-preview-list>
  </div>
</section>