<section class="u-align-center u-clearfix u-grey-10 u-section-8" id="carousel_3837">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h2 class="u-text u-text-default u-text-1">
      <font class="u-text-palette-1-base">Start now</font> &amp;
don't look back.
    </h2>
    <p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-default u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
    <div class="u-clearfix u-gutter-18 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-align-left u-container-style u-layout-cell u-palette-1-base u-size-15 u-size-30-md u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <h2 class="u-text u-text-default u-text-3">Stop pushing your clients into a corner.</h2>
              <p class="u-custom-font u-heading-font u-text u-text-default u-text-palette-1-light-2 u-text-4">Fames ac turpis egestas integer. Viverra orci sagittis eu volutpat odio. </p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <h4 class="u-text u-text-grey-50 u-text-5">basic</h4>
              <div class="u-align-center u-container-style u-expanded-width u-group u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-3">
                  <h2 class="u-text u-text-6">$ 29</h2>
                </div>
              </div>
              <p class="u-text u-text-7">1 full user <br>1,000 Email Previews <br>5 contacts per client <br>5 coffee cups<br>
              </p>
              <a href="https://nicepage.com/k/aesthetic-website-templates" class="u-border-none u-btn u-btn-round u-button-style u-grey-15 u-hover-palette-1-base u-radius-8 u-btn-1" target="_blank">buy now</a>
            </div>
          </div>
          <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-3">
            <div class="u-container-layout u-container-layout-4">
              <h4 class="u-text u-text-grey-50 u-text-8">advanced</h4>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-2">
                <div class="u-container-layout u-valign-middle u-container-layout-5">
                  <h2 class="u-align-center u-text u-text-9">$ 59</h2>
                </div>
              </div>
              <p class="u-text u-text-10">10 full users<br>2,000 Email Previews<br>20 contacts per client <br>20 coffee cups<br>
              </p>
              <a href="https://nicepage.one" class="u-btn u-btn-round u-button-style u-grey-15 u-hover-palette-1-base u-radius-8 u-btn-2" target="_blank">buy now</a>
            </div>
          </div>
          <div class="u-align-center u-container-style u-layout-cell   u-size-15 u-size-30-md u-white u-layout-cell-4">
            <div class="u-container-layout u-container-layout-6">
              <h4 class="u-text u-text-grey-50 u-text-11">business</h4>
              <div class="u-align-center u-container-style u-expanded-width u-group u-group-3">
                <div class="u-container-layout u-valign-middle u-container-layout-7">
                  <h2 class="u-text u-text-12">$ 139</h2>
                </div>
              </div>
              <p class="u-text u-text-13">20 full user<br>Unlimited Email Previews<br>Unlimited contacts<br>100 coffee cups
              </p>
              <a href="https://nicepage.studio" class="u-btn u-btn-round u-button-style u-grey-15 u-hover-palette-1-base u-radius-8 u-btn-3" target="_blank">buy now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>