<section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-clearfix u-section-3" id="sec-1960">
  <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
    <h2 class="u-text u-text-default u-text-1">Workspace Dashboard</h2>
    <sweeper-icon-menu [items]="menu" (select)="selectItem($event)"></sweeper-icon-menu>
  </div>
  <sweeper-loading-indicator></sweeper-loading-indicator>
</section>