::-webkit-input-placeholder { color: #ccc; }
:-moz-placeholder { color: #ccc; }
::-moz-placeholder { color: #ccc; }
:-ms-input-placeholder { color: #ccc; }

.numpad { 
  margin: 0; 
  padding: 0; 
  //font-family: 'Open Sans', sans-serif; 
  //color:var(--theme-color);
  width: 300px;
  height: 480px;
  margin: auto;
}
.numpad .num-container { 
  //padding-top: 40px;
  width: 300px;
  height: 440px;
  //position: relative;
  //border: 1px solid #eee;
  //margin-top: 20px;
}
.numpad input {
  //margin-top: -100px;
  font-size: 60px;
  //padding: 3px 10px;
  border: 0;
  //border-bottom: 2px solid var(--theme-color);
  //margin: 0 15px;
  width: 90%;
  outline: 0;
  text-align:center;
  letter-spacing:30px;
  border-radius: 0;
  //color: var(--theme-color);
}

.numpad ul { 
  //margin-top: -100px;
  padding: 20px;
  position: absolute;
  //bottom: 0;
  width: 300px;
}

.numpad ul li {
  cursor: pointer;
  font-size: 32px;
  float: left;
  list-style: none;
  text-align: center;
  height: 65px;
  padding-top: 15px;
  width: 33.33%;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}