<a *ngIf="preview" routerLink="{{'/sessions/room/'+preview.id}}">
  <h4 class="u-text u-text-grey-50 u-text-5">{{preview.title}}</h4>
  <div class="u-align-center u-container-style u-expanded-width u-group u-group-1">
    <div class="u-container-layout u-valign-middle u-container-layout-3">
      <img class="u-image u-image-default" 
      data-image-width="900" data-image-height="635" 
      [src]="'/assets/images/'+preview.img">
      <!--div [ngClass]="preview.img?'u-image-'+preview.img:''"
      class="u-align-center u-container-style u-image u-layout-cell u-size-35 u-size-xs-60" src="" data-image-width="1298" data-image-height="1080">
        <div class="u-container-layout u-valign-bottom u-container-layout-1" src=""></div>
      </div-->
    </div>
  </div>
    <p class="u-text u-text-8">
      <ng-container *ngFor="let user of preview.users;let i = index">
        <strong>
          {{user + (i == preview.users.length - 1?'':', ')}}
        </strong>
      </ng-container>
    </p>
  <p class="u-text">
    <em>Cool ass vibe, West Coast collab so you already know. Come thru!!</em>
  </p>
  <div class="u-palette-1-base u-text u-text-7" style="left:-10px;width:106.5%">
    <i class="fa fa-users"></i> {{preview.viewCt}} &nbsp;&nbsp;
    <i class="fa fa-clock"></i> {{preview.duration}}<br>
  </div>
  <!--a routerLink="/sessions/room/1" class="u-border-none u-btn u-btn-round u-button-style u-grey-15 u-hover-palette-1-base u-radius-8 u-btn-1">
    join
  </a-->
  </a>