<p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-default u-text-2">
  <a routerLink="/me/msgs" style="margin-left:20px;margin-right:20px;">
    <i class="fa fa-solid fa-comment-alt">
      <span class="u-text u-text-1"> 3</span>
    </i>
  </a>
  <a routerLink="/me/msgs" style="margin-left:20px;margin-right:20px;">
    <i class="fa fa-solid fa-envelope">
      <span class="u-text u-text-1"> 3</span>
    </i>
  </a>
  <a routerLink="/me/msgs" style="margin-left:20px;margin-right:20px;">
    <i class="fa fa-solid fa-calendar-day">
      <span class="u-text u-text-1"> 3</span>
    </i>
  </a>
  <a routerLink="/me/msgs" style="margin-left:20px;margin-right:20px;">
    <i class="fa fa-solid fa-link">
      <span class="u-text u-text-1"> 3</span>
    </i>
  </a>
  <!--a routerLink="/me/msgs" style="margin-left:20px;margin-right:20px;">
    <i class="fa fa-solid fa-dollar-sign">
      <span class="u-text u-text-1"> 3</span>
    </i>
  </a-->
</p>