<div>
  <a (click)="react.emit('🔥')" style="cursor: pointer;">🔥 </a>
  <a (click)="react.emit('😎')" style="cursor: pointer;">😎 </a>
  <a (click)="react.emit('😂')" style="cursor: pointer;">😂 </a>
  <a (click)="react.emit('😴')" style="cursor: pointer;">😴 </a>
  <a (click)="react.emit('🙄')" style="cursor: pointer;">🙄 </a>
  <a (click)="react.emit('🤮')" style="cursor: pointer;">🤮 </a>
  <a (click)="react.emit('🤯')" style="cursor: pointer;">🤯 </a>
  <a (click)="react.emit('💎')" style="cursor: pointer;">💎 </a>
</div>