<div class="container" style="width:600px">
  <div>
    <h3>bezkoder.com</h3>
    <h4>{{ title }}</h4>
  </div>
  <div class="my-3"><sweeper-upload></sweeper-upload></div>
  <div class="my-2"><sweeper-upload-list></sweeper-upload-list></div>
</div>

<!--div class="custom">
  <input type="text" class="formats" placeholder="Enter Demo Text     Here…" #input>
  <button class="btn" type="button" (click)="saveData(input.value)">Save Data</button>
  <hr>
  <ul><li *ngFor="let item of data"> {{item}} </li></ul>
</div>

<div class="container">
  <div class="card">
    <div class="card-header">
      Firebase Cloud Storage & Angular 5
    </div>
    <div class="card-body">
      <h5 class="card-title">Select a file for upload:</h5>
      <input type="file" (change)="upload($event)" accept=".png,.jpg" />
    </div>
  </div>
</div-->