<sweeper-header></sweeper-header>
<router-outlet></router-outlet>
<!--sweeper-footer></sweeper-footer-->
<sweeper-footer-two></sweeper-footer-two>

<!--
<sweeper-banner></sweeper-banner>
<sweeper-icon-menu-div></sweeper-icon-menu-div>
<sweeper-pic-and-post></sweeper-pic-and-post>
<sweeper-single-page></sweeper-single-page>
<sweeper-small-card-list></sweeper-small-card-list>
<sweeper-faq></sweeper-faq>
<sweeper-large-card-list></sweeper-large-card-list>
<sweeper-contact-us></sweeper-contact-us>
<sweeper-firebase-uploads></sweeper-firebase-uploads>
-->