.u-section-2 .u-image-block-party {
  min-height: 552px;
  pointer-events: auto;
  background-image: url("/assets/images/block-party.jpg");
  background-position: 50% 50%;
}
.u-section-4 .u-text-chat {
  font-size: .8rem;
  font-weight: 300;
  width: 266px;
  margin-top:5px;
  margin-bottom:5px;
}
.u-section-8 .u-image-1 {
  min-height: 150px;
  background-image: url("/assets/images/01.jpg");
  background-position: 50% 50%;
}
.u-section-8 .u-image-2 {
  min-height: 150px;
  background-image: url("/assets/images/02.jpg");
  background-position: 50% 50%;
}
.u-section-8 .u-image-3 {
  min-height: 150px;
  background-image: url("/assets/images/03.jpg");
  background-position: 50% 50%;
}
.u-image-small {
  max-height:250px;
  min-width:230px;
  //background-position: 50% 50%;
}
.u-grey-10,
.u-body.u-grey-10,
.u-container-style.u-grey-10:before,
.u-container-layout.u-grey-10:before,
.u-table-alt-grey-10 tr:nth-child(even) {
  color: #111111;
  background-color: #e5e5e5;
}
.u-button-style.u-grey-10,
.u-button-style.u-grey-10[class*="u-border-"] {
  color: #111111 !important;
  background-color: #e5e5e5 !important;
}
.u-button-style.u-grey-10:hover,
.u-button-style.u-grey-10[class*="u-border-"]:hover,
.u-button-style.u-grey-10:focus,
.u-button-style.u-grey-10[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-grey-10:active,
.u-button-style.u-button-style.u-grey-10[class*="u-border-"]:active,
.u-button-style.u-button-style.u-grey-10.active,
.u-button-style.u-button-style.u-grey-10[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-grey-10,
li.active > .u-button-style.u-button-style.u-grey-10[class*="u-border-"] {
  color: #111111 !important;
  background-color: #cecece !important;
}
.u-overlap.u-overlap-transparent .u-header,
.u-image,
.u-gradient {
  color: #111111;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > h2:not(.u-subtitle),
.u-gradient > .u-container-layout > h2:not(.u-subtitle),
.u-image:not(.u-shading) > .u-container-layout > h2:not(.u-subtitle),
h2:not(.u-subtitle)
{
color: #800020;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a,
.u-gradient > .u-container-layout > a,
.u-image:not(.u-shading) > .u-container-layout > a,
a
{
color: #800020;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a:hover,
.u-gradient > .u-container-layout > a:hover,
.u-image:not(.u-shading) > .u-container-layout > a:hover,
a:hover
{
color: #800020;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn,
.u-gradient > .u-container-layout > .u-btn,
.u-image:not(.u-shading) > .u-container-layout > .u-btn,
.u-btn
{
background-color: #800020;
color: #ffffff;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:hover,
.u-gradient > .u-container-layout > .u-btn:hover,
.u-image:not(.u-shading) > .u-container-layout > .u-btn:hover,
.u-btn:hover
{
background-color: #800020;
color: #e6e6e6;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:focus,
.u-gradient > .u-container-layout > .u-btn:focus,
.u-image:not(.u-shading) > .u-container-layout > .u-btn:focus,
.u-btn:focus
{
background-color: #800020;
color: #e6e6e6;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:active,
.u-gradient > .u-container-layout > .u-btn:active,
.u-image:not(.u-shading) > .u-container-layout > .u-btn:active,
.u-btn:active
{
background-color: #800020;
color: #e6e6e6;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > blockquote,
.u-gradient > .u-container-layout > blockquote,
.u-image:not(.u-shading) > .u-container-layout > blockquote,
blockquote
{
border-color: #800020;
}
.u-text-palette-1-base,
a.u-button-style.u-text-palette-1-base,
a.u-button-style.u-text-palette-1-base[class*="u-border-"] {
  color: #800020 !important;
}
a.u-button-style.u-text-palette-1-base:hover,
a.u-button-style.u-text-palette-1-base[class*="u-border-"]:hover,
a.u-button-style.u-text-palette-1-base:focus,
a.u-button-style.u-text-palette-1-base[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-text-palette-1-base:active,
a.u-button-style.u-button-style.u-text-palette-1-base[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-text-palette-1-base.active,
a.u-button-style.u-button-style.u-text-palette-1-base[class*="u-border-"].active {
  color: #800020 !important;
}
a.u-button-style:hover > .u-text-hover-palette-1-base,
a.u-button-style:hover > .u-text-hover-palette-1-base[class*="u-border-"],
a.u-button-style.u-button-style.u-text-hover-palette-1-base:hover,
a.u-button-style.u-button-style.u-text-hover-palette-1-base[class*="u-border-"]:hover,
a.u-button-style.u-button-style.u-text-hover-palette-1-base:focus,
a.u-button-style.u-button-style.u-text-hover-palette-1-base[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-button-style.u-text-active-palette-1-base:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-palette-1-base[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-palette-1-base.active,
a.u-button-style.u-button-style.u-button-style.u-text-active-palette-1-base[class*="u-border-"].active,
a.u-button-style.u-button-style.active > .u-text-active-palette-1-base,
a.u-button-style.u-button-style.active > .u-text-active-palette-1-base[class*="u-border-"],
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-text-hover-palette-1-base:hover,
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-nav-link.u-text-active-palette-1-base.active,
.u-popupmenu-items.u-text-hover-palette-1-base .u-nav-link:hover,
.u-popupmenu-items.u-popupmenu-items.u-text-active-palette-1-base .u-nav-link.active {
  color: #800020 !important;
}
.u-text-palette-1-base svg,
.u-text-hover-palette-1-base:hover svg,
.u-button-style:hover > .u-text-hover-palette-1-base svg,
.u-button-style.u-button-style.active > .u-text-active-palette-1-base svg,
.u-text-hover-palette-1-base:focus svg {
  fill: #800020;
}
.u-link.u-text-palette-1-base:hover {
  color: #800020 !important;
}
a.u-link.u-text-hover-palette-1-base:hover {
  color: #800020 !important;
}
a.u-button-style:hover > .u-text-hover-white,
a.u-button-style:hover > .u-text-hover-white[class*="u-border-"],
a.u-button-style.u-button-style.u-text-hover-white:hover,
a.u-button-style.u-button-style.u-text-hover-white[class*="u-border-"]:hover,
a.u-button-style.u-button-style.u-text-hover-white:focus,
a.u-button-style.u-button-style.u-text-hover-white[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-button-style.u-text-active-white:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-white[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-white.active,
a.u-button-style.u-button-style.u-button-style.u-text-active-white[class*="u-border-"].active,
a.u-button-style.u-button-style.active > .u-text-active-white,
a.u-button-style.u-button-style.active > .u-text-active-white[class*="u-border-"],
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-text-hover-white:hover,
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-nav-link.u-text-active-white.active,
.u-popupmenu-items.u-text-hover-white .u-nav-link:hover,
.u-popupmenu-items.u-popupmenu-items.u-text-active-white .u-nav-link.active {
  color: #ffffff !important;
}
.u-text-white svg,
.u-text-hover-white:hover svg,
.u-button-style:hover > .u-text-hover-white svg,
.u-button-style.u-button-style.active > .u-text-active-white svg,
.u-text-hover-white:focus svg {
  fill: #ffffff;
}
/** alt-color-rules **/
.u-body-color h2:not(.u-subtitle),.u-palette-1-base h2:not(.u-subtitle),.u-palette-1-dark-3 h2:not(.u-subtitle),.u-palette-1-dark-2 h2:not(.u-subtitle),.u-palette-1-dark-1 h2:not(.u-subtitle),.u-palette-1 h2:not(.u-subtitle),.u-palette-1-light-1 h2:not(.u-subtitle),.u-palette-2-base h2:not(.u-subtitle),.u-palette-2-dark-3 h2:not(.u-subtitle),.u-palette-2-dark-2 h2:not(.u-subtitle),.u-palette-2-dark-1 h2:not(.u-subtitle),.u-palette-2 h2:not(.u-subtitle),.u-palette-2-light-1 h2:not(.u-subtitle),.u-palette-3-dark-3 h2:not(.u-subtitle),.u-palette-3-dark-2 h2:not(.u-subtitle),.u-palette-3-dark-1 h2:not(.u-subtitle),.u-palette-4-base h2:not(.u-subtitle),.u-palette-4-dark-3 h2:not(.u-subtitle),.u-palette-4-dark-2 h2:not(.u-subtitle),.u-palette-4-dark-1 h2:not(.u-subtitle),.u-palette-5-dark-3 h2:not(.u-subtitle),.u-palette-5-dark-2 h2:not(.u-subtitle),.u-palette-5-dark-1 h2:not(.u-subtitle),.u-grey-40 h2:not(.u-subtitle),.u-grey-30 h2:not(.u-subtitle),.u-grey-90 h2:not(.u-subtitle),.u-grey-80 h2:not(.u-subtitle),.u-grey-75 h2:not(.u-subtitle),.u-black h2:not(.u-subtitle),.u-grey-70 h2:not(.u-subtitle),.u-grey-60 h2:not(.u-subtitle),.u-grey-50 h2:not(.u-subtitle),.u-grey-dark-3 h2:not(.u-subtitle),.u-grey-dark-2 h2:not(.u-subtitle),.u-grey-dark-1 h2:not(.u-subtitle),.u-grey h2:not(.u-subtitle),.u-shading h2:not(.u-subtitle),.u-overlap-contrast .u-header h2:not(.u-subtitle):not(.u-nav-link):not(.u-btn)
{
color: #adbaf6;
}
.u-body-color a,.u-palette-1-base a,.u-palette-1-dark-3 a,.u-palette-1-dark-2 a,.u-palette-1-dark-1 a,.u-palette-1 a,.u-palette-1-light-1 a,.u-palette-2-base a,.u-palette-2-dark-3 a,.u-palette-2-dark-2 a,.u-palette-2-dark-1 a,.u-palette-2 a,.u-palette-2-light-1 a,.u-palette-3-dark-3 a,.u-palette-3-dark-2 a,.u-palette-3-dark-1 a,.u-palette-4-base a,.u-palette-4-dark-3 a,.u-palette-4-dark-2 a,.u-palette-4-dark-1 a,.u-palette-5-dark-3 a,.u-palette-5-dark-2 a,.u-palette-5-dark-1 a,.u-grey-40 a,.u-grey-30 a,.u-grey-90 a,.u-grey-80 a,.u-grey-75 a,.u-black a,.u-grey-70 a,.u-grey-60 a,.u-grey-50 a,.u-grey-dark-3 a,.u-grey-dark-2 a,.u-grey-dark-1 a,.u-grey a,.u-shading a,.u-overlap-contrast .u-header a:not(.u-nav-link):not(.u-btn)
{
color: #adbaf6;
}
.u-body-color a:hover,.u-palette-1-base a:hover,.u-palette-1-dark-3 a:hover,.u-palette-1-dark-2 a:hover,.u-palette-1-dark-1 a:hover,.u-palette-1 a:hover,.u-palette-1-light-1 a:hover,.u-palette-2-base a:hover,.u-palette-2-dark-3 a:hover,.u-palette-2-dark-2 a:hover,.u-palette-2-dark-1 a:hover,.u-palette-2 a:hover,.u-palette-2-light-1 a:hover,.u-palette-3-dark-3 a:hover,.u-palette-3-dark-2 a:hover,.u-palette-3-dark-1 a:hover,.u-palette-4-base a:hover,.u-palette-4-dark-3 a:hover,.u-palette-4-dark-2 a:hover,.u-palette-4-dark-1 a:hover,.u-palette-5-dark-3 a:hover,.u-palette-5-dark-2 a:hover,.u-palette-5-dark-1 a:hover,.u-grey-40 a:hover,.u-grey-30 a:hover,.u-grey-90 a:hover,.u-grey-80 a:hover,.u-grey-75 a:hover,.u-black a:hover,.u-grey-70 a:hover,.u-grey-60 a:hover,.u-grey-50 a:hover,.u-grey-dark-3 a:hover,.u-grey-dark-2 a:hover,.u-grey-dark-1 a:hover,.u-grey a:hover
{
color: #a1a1a1;
}
.u-body-color .u-btn,.u-palette-1-base .u-btn,.u-palette-1-dark-3 .u-btn,.u-palette-1-dark-2 .u-btn,.u-palette-1-dark-1 .u-btn,.u-palette-1 .u-btn,.u-palette-1-light-1 .u-btn,.u-palette-2-base .u-btn,.u-palette-2-dark-3 .u-btn,.u-palette-2-dark-2 .u-btn,.u-palette-2-dark-1 .u-btn,.u-palette-2 .u-btn,.u-palette-2-light-1 .u-btn,.u-palette-3-dark-3 .u-btn,.u-palette-3-dark-2 .u-btn,.u-palette-3-dark-1 .u-btn,.u-palette-4-base .u-btn,.u-palette-4-dark-3 .u-btn,.u-palette-4-dark-2 .u-btn,.u-palette-4-dark-1 .u-btn,.u-palette-5-dark-3 .u-btn,.u-palette-5-dark-2 .u-btn,.u-palette-5-dark-1 .u-btn,.u-grey-40 .u-btn,.u-grey-30 .u-btn,.u-grey-90 .u-btn,.u-grey-80 .u-btn,.u-grey-75 .u-btn,.u-black .u-btn,.u-grey-70 .u-btn,.u-grey-60 .u-btn,.u-grey-50 .u-btn,.u-grey-dark-3 .u-btn,.u-grey-dark-2 .u-btn,.u-grey-dark-1 .u-btn,.u-grey .u-btn,.u-shading .u-btn,.u-overlap-contrast .u-header .u-btn
{
background-color: #adbaf6;
color: #000000;
}
.u-body-color .u-btn:hover,.u-palette-1-base .u-btn:hover,.u-palette-1-dark-3 .u-btn:hover,.u-palette-1-dark-2 .u-btn:hover,.u-palette-1-dark-1 .u-btn:hover,.u-palette-1 .u-btn:hover,.u-palette-1-light-1 .u-btn:hover,.u-palette-2-base .u-btn:hover,.u-palette-2-dark-3 .u-btn:hover,.u-palette-2-dark-2 .u-btn:hover,.u-palette-2-dark-1 .u-btn:hover,.u-palette-2 .u-btn:hover,.u-palette-2-light-1 .u-btn:hover,.u-palette-3-dark-3 .u-btn:hover,.u-palette-3-dark-2 .u-btn:hover,.u-palette-3-dark-1 .u-btn:hover,.u-palette-4-base .u-btn:hover,.u-palette-4-dark-3 .u-btn:hover,.u-palette-4-dark-2 .u-btn:hover,.u-palette-4-dark-1 .u-btn:hover,.u-palette-5-dark-3 .u-btn:hover,.u-palette-5-dark-2 .u-btn:hover,.u-palette-5-dark-1 .u-btn:hover,.u-grey-40 .u-btn:hover,.u-grey-30 .u-btn:hover,.u-grey-90 .u-btn:hover,.u-grey-80 .u-btn:hover,.u-grey-75 .u-btn:hover,.u-black .u-btn:hover,.u-grey-70 .u-btn:hover,.u-grey-60 .u-btn:hover,.u-grey-50 .u-btn:hover,.u-grey-dark-3 .u-btn:hover,.u-grey-dark-2 .u-btn:hover,.u-grey-dark-1 .u-btn:hover,.u-grey .u-btn:hover,.u-shading .u-btn:hover,.u-overlap-contrast .u-header .u-btn:hover
{
background-color: #879af2;
color: #ffffff;
}
.u-body-color .u-btn:active,.u-palette-1-base .u-btn:active,.u-palette-1-dark-3 .u-btn:active,.u-palette-1-dark-2 .u-btn:active,.u-palette-1-dark-1 .u-btn:active,.u-palette-1 .u-btn:active,.u-palette-1-light-1 .u-btn:active,.u-palette-2-base .u-btn:active,.u-palette-2-dark-3 .u-btn:active,.u-palette-2-dark-2 .u-btn:active,.u-palette-2-dark-1 .u-btn:active,.u-palette-2 .u-btn:active,.u-palette-2-light-1 .u-btn:active,.u-palette-3-dark-3 .u-btn:active,.u-palette-3-dark-2 .u-btn:active,.u-palette-3-dark-1 .u-btn:active,.u-palette-4-base .u-btn:active,.u-palette-4-dark-3 .u-btn:active,.u-palette-4-dark-2 .u-btn:active,.u-palette-4-dark-1 .u-btn:active,.u-palette-5-dark-3 .u-btn:active,.u-palette-5-dark-2 .u-btn:active,.u-palette-5-dark-1 .u-btn:active,.u-grey-40 .u-btn:active,.u-grey-30 .u-btn:active,.u-grey-90 .u-btn:active,.u-grey-80 .u-btn:active,.u-grey-75 .u-btn:active,.u-black .u-btn:active,.u-grey-70 .u-btn:active,.u-grey-60 .u-btn:active,.u-grey-50 .u-btn:active,.u-grey-dark-3 .u-btn:active,.u-grey-dark-2 .u-btn:active,.u-grey-dark-1 .u-btn:active,.u-grey .u-btn:active,.u-shading .u-btn:active,.u-overlap-contrast .u-header .u-btn:active
{
background-color: #879af2;
color: #ffffff;
}
.u-grey-90,
.u-body.u-grey-90,
.u-container-style.u-grey-90:before,
.u-container-layout.u-grey-90:before,
.u-table-alt-grey-90 tr:nth-child(even) {
  color: #ffffff;
  background-color: #1a1a1a;
}
.u-button-style.u-grey-90,
.u-button-style.u-grey-90[class*="u-border-"] {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
}
.u-button-style.u-grey-90:hover,
.u-button-style.u-grey-90[class*="u-border-"]:hover,
.u-button-style.u-grey-90:focus,
.u-button-style.u-grey-90[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-grey-90:active,
.u-button-style.u-button-style.u-grey-90[class*="u-border-"]:active,
.u-button-style.u-button-style.u-grey-90.active,
.u-button-style.u-button-style.u-grey-90[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-grey-90,
li.active > .u-button-style.u-button-style.u-grey-90[class*="u-border-"] {
  color: #ffffff !important;
  background-color: #171717 !important;
}
.u-hover-grey-90:hover,
.u-hover-grey-90[class*="u-border-"]:hover,
.u-hover-grey-90:focus,
.u-hover-grey-90[class*="u-border-"]:focus,
.u-active-grey-90.u-active.u-active,
.u-active-grey-90[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-grey-90:hover,
a.u-button-style.u-hover-grey-90[class*="u-border-"]:hover,
a.u-button-style:hover > .u-hover-grey-90,
a.u-button-style:hover > .u-hover-grey-90[class*="u-border-"],
a.u-button-style.u-hover-grey-90:focus,
a.u-button-style.u-hover-grey-90[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-grey-90:active,
a.u-button-style.u-button-style.u-active-grey-90[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-grey-90.active,
a.u-button-style.u-button-style.u-active-grey-90[class*="u-border-"].active,
a.u-button-style.u-button-style.active > .u-active-grey-90,
a.u-button-style.u-button-style.active > .u-active-grey-90[class*="u-border-"],
li.active > a.u-button-style.u-button-style.u-active-grey-90,
li.active > a.u-button-style.u-button-style.u-active-grey-90[class*="u-border-"] {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
}
a.u-link.u-hover-grey-90:hover {
  color: #1a1a1a !important;
}
.u-border-grey-90,
.u-separator-grey-90:after {
  border-color: #1a1a1a;
  stroke: #1a1a1a;
}
.u-button-style.u-border-grey-90 {
  border-color: #1a1a1a !important;
  color: #1a1a1a !important;
  background-color: transparent !important;
}
.u-button-style.u-border-grey-90:hover,
.u-button-style.u-border-grey-90:focus {
  border-color: transparent !important;
  color: #171717 !important;
  background-color: transparent !important;
}
.u-border-hover-grey-90:hover,
.u-border-hover-grey-90:focus,
.u-border-active-grey-90.u-active.u-active,
a.u-button-style.u-border-hover-grey-90:hover,
a.u-button-style:hover > .u-border-hover-grey-90,
a.u-button-style.u-border-hover-grey-90:focus,
a.u-button-style.u-button-style.u-border-active-grey-90:active,
a.u-button-style.u-button-style.u-border-active-grey-90.active,
a.u-button-style.u-button-style.active > .u-border-active-grey-90,
li.active > a.u-button-style.u-button-style.u-border-active-grey-90 {
  color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}
.u-link.u-border-grey-90[class*="u-border-"] {
  border-color: #1a1a1a !important;
}
.u-link.u-border-grey-90[class*="u-border-"]:hover {
  border-color: #171717 !important;
}
.u-text-grey-90,
a.u-button-style.u-text-grey-90,
a.u-button-style.u-text-grey-90[class*="u-border-"] {
  color: #1a1a1a !important;
}
a.u-button-style.u-text-grey-90:hover,
a.u-button-style.u-text-grey-90[class*="u-border-"]:hover,
a.u-button-style.u-text-grey-90:focus,
a.u-button-style.u-text-grey-90[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-text-grey-90:active,
a.u-button-style.u-button-style.u-text-grey-90[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-text-grey-90.active,
a.u-button-style.u-button-style.u-text-grey-90[class*="u-border-"].active {
  color: #171717 !important;
}
a.u-button-style:hover > .u-text-hover-grey-90,
a.u-button-style:hover > .u-text-hover-grey-90[class*="u-border-"],
a.u-button-style.u-button-style.u-text-hover-grey-90:hover,
a.u-button-style.u-button-style.u-text-hover-grey-90[class*="u-border-"]:hover,
a.u-button-style.u-button-style.u-text-hover-grey-90:focus,
a.u-button-style.u-button-style.u-text-hover-grey-90[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-button-style.u-text-active-grey-90:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-grey-90[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-button-style.u-text-active-grey-90.active,
a.u-button-style.u-button-style.u-button-style.u-text-active-grey-90[class*="u-border-"].active,
a.u-button-style.u-button-style.active > .u-text-active-grey-90,
a.u-button-style.u-button-style.active > .u-text-active-grey-90[class*="u-border-"],
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-text-hover-grey-90:hover,
:not(.level-2) > .u-nav > .u-nav-item > a.u-nav-link.u-nav-link.u-text-active-grey-90.active,
.u-popupmenu-items.u-text-hover-grey-90 .u-nav-link:hover,
.u-popupmenu-items.u-popupmenu-items.u-text-active-grey-90 .u-nav-link.active {
  color: #1a1a1a !important;
}
.u-text-grey-90 svg,
.u-text-hover-grey-90:hover svg,
.u-button-style:hover > .u-text-hover-grey-90 svg,
.u-button-style.u-button-style.active > .u-text-active-grey-90 svg,
.u-text-hover-grey-90:focus svg {
  fill: #1a1a1a;
}
.u-link.u-text-grey-90:hover {
  color: #171717 !important;
}
a.u-link.u-text-hover-grey-90:hover {
  color: #1a1a1a !important;
}
.u-btn
{
margin-top: 20px;
margin-bottom: 20px;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn,
.u-gradient > .u-container-layout > .u-btn,
.u-image:not(.u-shading) > .u-container-layout > .u-btn,
.u-btn
{
background-color: #800020;
color: #ffffff;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:hover,
.u-gradient > .u-container-layout > .u-btn:hover,
.u-image:not(.u-shading) > .u-container-layout > .u-btn:hover,
.u-btn:hover
{
background-color: #800020;
color: #e6e6e6;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:focus,
.u-gradient > .u-container-layout > .u-btn:focus,
.u-image:not(.u-shading) > .u-container-layout > .u-btn:focus,
.u-btn:focus
{
background-color: #800020;
color: #e6e6e6;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:active,
.u-gradient > .u-container-layout > .u-btn:active,
.u-image:not(.u-shading) > .u-container-layout > .u-btn:active,
.u-btn:active
{
background-color: #800020;
color: #e6e6e6;
}
@media (min-width: 576px) and (max-width: 991px) {
  .u-video-under-banner {
    top:500px;
  }
}
@media (max-width: 576px) {
  .u-video-under-banner {
    top:550px;
  }
}