<section class="u-clearfix u-white u-section-5" id="carousel_1a76">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-similar-fill u-size-30 u-layout-cell-1">
            <div class="u-container-layout u-valign-top u-container-layout-1">
              <h2 class="u-text u-text-palette-1-base u-text-1">Jackswift</h2>
              <div class="u-border-6 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
            </div>
          </div>
          <div class="u-align-left u-container-style u-layout-cell u-similar-fill u-size-30 u-layout-cell-2">
            <div class="u-container-layout u-valign-top u-container-layout-2">
              <p class="u-text u-text-font u-text-grey-50 u-text-2">
                <strong>Email: </strong>service.onebrother@gmail.com<br>
                <strong>Phone: </strong>832-444-5006<br>
                <strong>Motto: </strong>Carpe Diem<br>
                <strong>Bio: </strong>Im the man mayne<br>
              </p>
              <a routerLink="/me/edit/acct" 
              class="u-active-grey-90 u-btn u-btn-round u-button-style u-custom u-hover-grey-90 u-palette-1-base u-radius-8 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">
              Edit Details</a>
            </div>
          </div>
          <div class="u-align-left u-container-style u-layout-cell u-similar-fill u-size-30 u-layout-cell-2">
            <div class="u-container-layout u-valign-top u-container-layout-2">
              <p class="u-text u-text-font u-text-grey-50 u-text-2">
                <strong>Can Activate: </strong>Yes<br>
                <strong>Can Share: </strong>No<br>
                <strong>Invite Me to Collab: </strong>Yes<br>
                <strong>Invite Me to Collab: </strong>Yes<br>
              </p>
              <a routerLink="/me/edit/settings" 
              class="u-active-grey-90 u-btn u-btn-round u-button-style u-custom u-hover-grey-90 u-palette-1-base u-radius-8 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">
              Edit Settings</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-left u-container-style u-grey-10 u-list-item u-repeater-item u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-3">
            <h5 class="u-custom-font u-font-roboto-condensed u-text u-text-default u-text-palette-1-base u-text-3">Account Info</h5>
            <p class="u-text u-text-4">
              <strong>Type: </strong>GLD-2<br>
              <strong>Member Since: </strong>12/4/2022<br>
              <strong>Name: </strong>Jack Powers<br>
              <strong>YOB: </strong>1980<br>
              <strong>Hometown: </strong>Houston, TX<br>
              <strong>Location: </strong>Houston, TX<br>
            </p>
          </div>
        </div>
        <div class="u-align-left u-container-style u-grey-10 u-list-item u-repeater-item u-list-item-2">
          <div class="u-container-layout u-similar-container u-container-layout-5">
            <h5 class="u-custom-font u-font-roboto-condensed u-text u-text-default u-text-palette-1-base u-text-7">Stats</h5>
            <p class="u-text u-text-4">
              <strong>Total Studio Hrs: </strong>19 hrs<br>
              <strong>Total Views: </strong>799<br>
              <strong>Total Spins: </strong>1188
            </p>
          </div>
        </div>
        <div class="u-align-left u-container-style u-grey-10 u-list-item u-repeater-item u-list-item-2">
          <div class="u-container-layout u-similar-container u-container-layout-5">
            <h5 class="u-custom-font u-font-roboto-condensed u-text u-text-default u-text-palette-1-base u-text-7">Stats</h5>
            <p class="u-text u-text-4">
              <strong>Total Studio Hrs: </strong>19 hrs<br>
              <strong>Total Views: </strong>799<br>
              <strong>Total Spins: </strong>1188
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>