<div class="u-layout-row">
  <div class="u-align-left u-container-style u-layout-cell u-size-30 u-white u-layout-cell-1">
    <div class="u-container-layout u-container-layout-1">
      <h2 class="u-text u-text-grey-70 u-text-1">Verify</h2>
      <a routerLink="/" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">Cancel Verification?</a>
    </div>
  </div>
  <div class="u-align-left u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2">
    <div class="u-container-layout u-valign-middle u-container-layout-2">
      <div class="u-expanded-width u-form u-form-1">
        <form [formGroup]="verifyForm" (ngSubmit)="submitForm()" 
        class="u-clearfix u-form-spacing-24 u-form-vertical u-inner-form" style="padding: 24px;" name="form">
          <input type="hidden" id="siteId" name="siteId" value="745822">
          <input type="hidden" id="pageId" name="pageId" value="749340">
          <div class="u-form-group u-form-name u-form-group-1">
            <label for="name-3b9a" class="u-form-control-hidden u-label">Verification</label>
            <input type="text" placeholder="Enter Code" id="name-3b9a" name="code" formControlName="code"
            class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-1" required="">
          </div>
          <div class="u-align-left u-form-group u-form-submit u-form-group-4">
            <input type="submit" value="submit" class="u-black u-btn u-btn-submit u-button-style u-hover-grey-60 u-btn-2">
            <sweeper-loading-indicator [loading]="loading"></sweeper-loading-indicator>
          </div>
          <div class="u-form-send-error u-form-send-message" [style.display]="hasErrors()?'block':'none'">
            <div *ngIf="f['code'].errors?.['required']"> Email is required. </div>
            <div *ngIf="f['code'].errors?.['pattern']"> Email must be a valid verifucation code. </div>
          </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </div>
</div>