<div class="u-container-layout u-similar-container u-valign-top-xl u-container-layout-1">
  <a routerLink="{{item.url}}">
    <span class="u-icon u-icon-circle u-palette-1-light-3 u-spacing-18 u-text-palette-1-base u-icon-1">
      <sweeper-icon [item]="item"></sweeper-icon>
    </span>
    <h5 class="u-custom-font u-font-roboto-condensed u-text u-text-palette-1-base u-text-3"> {{item.label}}</h5>
  </a>
  <a routerLink="{{item.url}}"><p class="u-text u-text-palette-5-dark-1 u-text-4"> {{item.text}}</p></a>
</div>