<div class="u-layout-row">
  <div class="u-align-left u-container-style u-layout-cell u-size-30 u-white u-layout-cell-1">
    <div class="u-container-layout u-container-layout-1">
      <h2 class="u-text u-text-grey-70 u-text-1">Sign Up</h2>
      <a routerLink="/me" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">Signup With Google</a>
      <a routerLink="/me" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">Signup With Facebook</a>
      <a routerLink="/secur01/signin" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">Already a member?</a>
    </div>
  </div>
  <div class="u-align-left u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2">
    <div class="u-container-layout u-valign-middle u-container-layout-2">
      <div class="u-expanded-width u-form u-form-1">
        <form [formGroup]="signupForm" (ngSubmit)="submitForm()" 
        class="u-clearfix u-form-spacing-24 u-form-vertical u-inner-form" style="padding: 24px;" name="form">
          <input type="hidden" id="siteId" name="siteId" value="745822">
          <input type="hidden" id="pageId" name="pageId" value="749340">
          <div class="u-form-email u-form-group u-form-group-2">
            <label for="email-3b9a" class="u-form-control-hidden u-label">Email</label>
            <input type="email" placeholder="Email" id="email-3b9a" name="email" formControlName="email" 
            class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-input-2" required>
          </div>
          <div class="u-align-left u-form-group u-form-submit u-form-group-4">
            <input type="submit" value="submit" 
            class="u-black u-btn u-btn-submit u-button-style u-hover-grey-60 u-btn-2">
            <sweeper-loading-indicator [loading]="loading"></sweeper-loading-indicator>
          </div>
          <div class="u-form-send-error u-form-send-message" [style.display]="hasErrors()?'block':'none'">
            <div *ngIf="f['email'].errors?.['required']"> Email is required. </div>
            <div *ngIf="f['email'].errors?.['pattern']"> Email must be a valid email address. </div>
            <div *ngIf="otherError"> {{otherError}} </div>
          </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </div>
</div>